name: python-ci
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.12"
          - "3.13"
          - "3.14"

    steps:
      - uses: actions/checkout@v5
      - name: Install uv and set Python version ${{ matrix.python-version }}
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install the project
        run: uv sync --locked --group dev
      - name: Lint code with ruff
        run: uv tool run ruff check --diff --output-format=github src
      - name: Format code with ruff
        run: uv tool run ruff format --diff src
      - name: Type check code with pyright
        run: uv tool run pyright src
      - name: Test code with pytest
        run: uv tool run pytest tests
